<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jachin.blog.mapper.RoleMenuMapper">
    <select id="listByRid" parameterType="integer" resultType="com.jachin.blog.pojo.entity.RoleMenuEntity">
        SELECT *
        FROM sys_role_menu
        WHERE rid = #{rid}
    </select>
</mapper>